extends layout
block content
    h1.text-center= title
    br
    div(class=['large-12','columns'])
        #custydatatable
            table
                thead
                    th fullName
                    th phone
                    th email
                    th Zip
                    th referralSource
                    th Make & Model,
                    th problem
                    th notes
                    th price
                    th upsellItem
                    th upsellAmount
                tbody
