doctype html
html
    head
        title= title
        link(rel='stylesheet', href='http://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css')
        link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
        script(src='http://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js')
        script(src='http://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation/foundation.reveal.min.js')
        script(src='/javascripts/global.js')